{% extends 'base.html' %}
{% block content %}
<div>
		    <h3>Pick a cipher from below</h3><br>
		    <h4>Substitution Ciphers</h4><br>
		    <ul>
		        <button> <a href="{{url_for('caesar')}}">Caesar Cipher</a></button>
		        <button> <a href="{{url_for('caesar_no_key')}}">Caesar Cipher w/out key</a></button>
		        <button> <a href="{{url_for('reverse_alpha')}}">Reverse Alphabet Cipher</a></button>
		        <button> <a href="{{url_for('scramble')}}">Scramble Cipher</a></button>
		    </ul><br>
		    <h4>Transposition Ciphers</h4><br>
		    <ul>
		    	<button><a href="{{ url_for('reverse') }}">Reverse Cipher</a></button>
		    	<button><a href="{{ url_for('rail_fence') }}">Rail Fences Cipher</a></button>
		    </ul>
		</div>
{% endblock %}
